# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Codeblocks
*.cbp

#Visual Studio
ReadMe.txt
stdafx.cpp
targetver.h
*.vcxproj
*.vcxproj.filters
Debug